<div class="form-max-width">
<h1>Edit Resource</h1>

<%= render "form", learning_resource: @learning_resource, button_name: "Edit Resource" %>

<br>

<div>
  <%= link_to "Show this learning resource", @learning_resource %>
</div>
</div>
